header{
    display: flex;
    
    min-width: none;height: 150px;
    background-color: lightblue;
    
    padding: 0%;
    flex-direction: column;
}
.logo{
    display: flex;
    
    
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
body{
    font-family: sans-serif;
    margin: 0%;
}
a{
    text-decoration: none;
    color: black;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    padding: 10px;
}
nav a:hover{
    color: white;

        
}


.imagen{
    border-style: solid;
    border-radius: 100px;
    margin: 0%;
}
.nashe{
   background-position:right;
   outline: 0%;
   margin-top: 50px;
   margin: 0%;
}
.jpg{
    width: 100%;
}
.Members{
    background-color: lightblue;
    margin: 0%;
    height: 200px;
}

   